<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Clanske karte stranica</title>     
		<link rel="stylesheet"  type="text/css"  href="css/home.css"/>    
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>  
	 <a href="index.html"><button class="btn povratak">Back</button></a>
	<img src="/img/background.jpg">
	 
	 <li><a href="admin/profil"  th:text="#{profil}"></a></li>
	  <li><a href="admin/korisnici" th:text="#{korisnici}"></a></li>  
	   <li><a href="admin/sale" th:text="#{sale}"></a></li> 
	   <li><a href="admin/komentari" th:text="#{komentari}"></a></li>
   
 			 <table>     
	 			<h1 th:text="#{clanskeKarte}"></h1></caption>         
	 			<tr>      
                    <th th:text="#{username}"></th> 
	 			    <th th:text="#{opcija}"></th> 
	 			

	 			</tr>
	 			<tr  th:each="itClanska, status: ${clanska}">  
	 			<td th:text="${itClanska.korisnikId.korisnickoIme}" name="korisnickoIme"></td>  
	 			<td>    
	 					<form method="post" action="admin/clanskeKarte/obrisiClanskuKartu" >     
	 						<input type="hidden"  name="id"  th:value="${itClanska.id}">     
	 						<input type="submit"  value="Obrisi" >    
	 					</form>  
	 					<form method="post" action="admin/clanskeKarte/odobriClanskuKartu" >     
	 						<input type="hidden"  name="id"  th:value="${itClanska.id}">     
	 						<input type="submit"  th:value="#{odobri}" >    
	 					</form> 
	 			</td> 
	 				
  
     
	 		</table>
	 			 	<ul>     
	 		<li><a href="admin/addTrening" th:text="#{dodajTrening}"></a></li>   
	 		<li><a href="admin/addTerminTreninga" th:text="#{dodajTerminTreninga}"></a></li>   
	 		<li><a href="admin/logout" th:text="#{logOut}"></a></li>   
	 	</ul>
	 </body>   
 </html>	