<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />

	<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/home.css"/>
	<base href="bURL">
	<title>Dodaj termin treninga</title>
</head>
<div>
<a href="add"><button class="btn povratak">Back</button></a>
	<img src="/img/background.jpg">


<form method="post" action="addTerminTreninga">
			<table class="forma">
			
				 <li><a href="profil" th:text="#{profil}"></a></li>
	             <li><a href="korisnici" th:text="#{korisnici}"></a></li>  
	             <li><a href="sale" th:text="#{sale}"></a></li> 
	             <li><a href="komentari" th:text="#{komentari}"></a></li>
	             <li><a href="clanskeKarte" th:text="#{clanskeKarte}"></a></li>
				<h1 th:text="#{termini}"></h1></caption>  
				
	   
				<tr>
					 <th th:text="#{imeTreninga}"></th> 
					<td>
						<select name="treningId">
							<option th:each="itTrening: ${treninzi}" th:value="${itTrening.id}" th:text="${itTrening.naziv}"></option>
						</select>	
					</td>
				</tr>
				<tr>
					 <th th:text="#{sala}"></th> 
					<td>
						<select name="salaId">
							<option th:each="itSala: ${sala}" th:value="${itSala.id}" th:text=" ' Kapacitet: '+${itSala.kapacitet}"></option>
						</select>	
					</td>
				</tr>
				<tr>
				<th th:text="#{datumIVremeTermina}"></th> 

					<td>
						<input type="date" th:value="2020-04-01" name="datum"/>&nbsp;
						<input type="time" value="18:00" name="vreme"/>
					</td>
				<tr>
				
				<tr><th></th><td><input type="submit" th:value="dodaj"/></td></tr>
			</table>
		</form>
	 			 	<ul>     
	 		<li><a href="add" th:text="#{dodajTrening}"></a></li>   
	 		<li><a href="logout" th:text="#{logOut}"></a></li>   
	 	</ul>
	</div>
</body>
</html>