<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:src="@{/js/clanTeretane.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/treninzi.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/registracija.css}">
    <title>Komentari</title>
</head>
<body onload="myFunction()">
<img class="pozadina" th:src="@{/img/background.jpg}">
<div class="topnav" th:object="${korisnik}">
    <a href="#" style="padding-right: 30px;">
        <img th:src="@{/img/korpa.jpg}">
    </a>
    <a th:href="@{'/admin/Korisnicko_ime=' + ${korisnik.korisnickoIme} + '/logout'}">Odjava</a>
    <a th:href="@{'/admin/Korisnicko_ime=' + ${korisnik.korisnickoIme}}">Treninzi</a>
    <a href="#">Loyalty kartica</a>
    <a href="#">Komentari</a>
    <a th:href="@{'/admin/Korisnicko_ime=' + ${korisnik.korisnickoIme} + '/dodavanjeTreninga'}">Dodavanje treninga</a>
    <a th:href="@{'/admin/Korisnicko_ime=' + ${korisnik.korisnickoIme} + '/korisnici'}">Korisnici</a>
    <a class="naslov">MOJA TERETANA</a>
</div>
<center>
    <section>
        <form>
            <div>
                <h1>Komentari</h1>
            </div>
            <form>
                <div class="container" id="container">
                    <div class="kutija" style="width: 350px; height: 380px" th:each="Komentari, status: ${komentari}" >
                        <div th:object="${komentar1}">
                            <br>
                            <div style="text-align: center;">Trening: <a th:text="${Komentari.trening}"></a></div>
                            <br>
                            <div style="text-align: center;">Datum postavljanja komentara: <a th:text="${Komentari.datumPostavljanja}"></a></div>
                            <br>
                            <div style="text-align: center;">Ocena: <a th:text="${Komentari.ocena}"></a></div>
                            <br>
                            <div style="text-align: center;">Tekst komentara: <a th:text="${Komentari.tekstKomentara}"></a></div>
                            <br>
                            <div style="text-align: center;">Status komentara: <a id="odobren" th:text="${Komentari.status}"></a></div>
                            <br>
                            <div style="text-align: center;">Autor komentara: <a th:text="${Komentari.autor}"></a></div>
                            <br>
                            <div style="text-align: center;">Anoniman: <a th:text="${Komentari.anoniman}"></a></div>
                            <p hidden><a th:text="${Komentari.id}"></a></p>
                            <button id="odobrenDugme" type="submit" th:action="@{'/komentari-odobri/' + Komentari.id}">Odobri</button>
                            <button id="odobrenDugme1" type="submit" th:action="@{'/komentari-odbi/' + Komentari.id}">Odbi</button>y
                        </div>
                    </div>
                </div>
            </form>
        </form>
    </section>
</center>
<script>
    function myFunction() {
        let odobren = document.getElementById("odobren").innerHTML;
        let odobrenDugme = document.getElementById("odobrenDugme");
        let odobrenDugme1 = document.getElementById("odobrenDugme1");

        if(odobren === "Odobren") {
            odobrenDugme.style.display = 'none';
            odobrenDugme1.style.display = 'block';
        }
        else if(odobren === "Na cekanju") {
            odobrenDugme.style.display = 'block';
            odobrenDugme1.style.display = 'block';
        }
        else if(odobren === "Nije odobren") {
            odobrenDugme.style.display = 'block';
            odobrenDugme1.style.display = 'none';
        }
    }
</script>
</body>
</html>