<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:src="@{/js/clanTeretane.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/treninzi.css}">
    <title>Treninzi</title>
</head>
<body  onload="ProveraUloge()" th:each="Korisnik, status: ${korisnik}">
<img class="pozadina" th:src="@{/img/background.jpg}">
<div class="topnav">
    <a href="#" style="padding-right: 30px;">
        <img th:src="@{/img/korpa.jpg}">
    </a>
    <a th:href="@{'Korisnicko_ime=' + ${korisnik.korisnickoIme} + '/logout'}">Odjava</a>
    <a href="#">Treninzi</a>
    <a href="#">Loyalty kartica</a>
    <a id="admin" th:href="@{'/admin/Korisnicko_ime=' + ${korisnik.korisnickoIme} + '/komentari'}">Komentari</a>
    <a id="admin1" th:href="@{'Korisnicko_ime=' + ${korisnik.korisnickoIme} + '/dodavanjeTreninga'}">Dodavanje treninga</a>
    <a id="admin3" th:href="@{'/admin/Korisnicko_ime=' + ${korisnik.korisnickoIme} + '/korisnici'}">Korisnici</a>
    <a class="naslov">MOJA TERETANA</a>
</div>
<center>
    <section>
        <form onload="result()">
            <div >
                <h1>Treninzi</h1>
                <p hidden><a id="uloga" th:text="${korisnik.uloga}"></a></p>
                <input style="margin-bottom: 15px; transform: scale(1.5)" type="text" id="myInput" onkeyup="myFunction()" placeholder="Pretraga po nazivu ..." title="Type in a name">
            </div>
            <div class="container" id="container">
                <div class="kutija" th:each="Trening, status: ${treninzi}">
                    <div >
                        <img class= "kocka" th:src="${Trening.slika}" width="200" height="100">
                        <br>
                        <div style="text-align: center;">Naziv: <a th:href="${'Korisnicko_ime='+ korisnickoIme +'/trening/'+ Trening.id}" th:text="${Trening.naziv}"></a></div>
                        <br>
                        <div style="text-align: center;">Tip treninga: <a th:text="${Trening.tipTreninga}"></a></div>
                        <br>
                        <div style="text-align: center;">Cena: <a th:text="${Trening.cena}"></a></div>
                        <br>
                        <div style="text-align: center;">Trener: <a th:text="${Trening.trener}"></a></div>
                        <br>
                        <div style="text-align: center;">Vrsta treninga: <a th:text="${Trening.vrstaTreninga}"></a></div>
                        <br>
                        <div style="text-align: center;">Nivo treninga: <a th:text="${Trening.nivoTreninga}"></a></div>

                    </div>
                </div>
            </div>
        </form>
    </section>
</center>
<script>
    function myFunction() {
        var input, filter, parent, child, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        parent = document.getElementById("container");
        child = parent.getElementsByClassName("kutija");
        for (i = 0; i < child.length; i++) {
            a = child[i].getElementsByTagName("div")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                child[i].style.display = "";
            } else {
                child[i].style.display = "none";
            }
        }

    }

    function ProveraUloge() {
        let uloga = document.getElementById("uloga").innerHTML;
        let admin = document.getElementById("admin");
        let admin1 = document.getElementById("admin1");
        let admin2 = document.getElementById("admin2");
        let admin3 = document.getElementById("admin3");
        let clanTeretane = document.getElementById("clanTeretane");

        if(uloga === "admin") {
            admin.style.display = 'block';
            admin1.style.display = 'block';
            admin2.style.display = 'block';
            admin3.style.display = 'block';
            clanTeretane.style.display = 'none';
        }
        else if (uloga === "clanTeretane") {
            admin.style.display = 'none';
            admin1.style.display = 'none';
            admin2.style.display = 'none';
            admin3.style.display = 'none';
            clanTeretane.style.display = 'block';
        }
    }
</script>
</body>
</html>