<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="" defer></script>
    <link rel="stylesheet" href="/css/registracija.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Prikaz Treninga</title>
    <style>

    </style>
</head>
<body>
<img src="/img/background.jpg">
<div class="center">
    <form method="get" th:each="Trening, status: ${trening}">
        <label><b class="a">Slika: <img th:src="${trening.slika}" style="width: 150px; height: 150px"></b></label>
        <br>
        <br>
        <label><b class="a">Naziv: <a th:text="${trening.naziv}"></a></b></label>
        <br>
        <br>
        <label><b class="a">Trener: <a th:text="${trening.trener}"></a></b></label>
        <br>
        <br>
        <label><b class="a">Kratak opis: <a th:text="${trening.kratkiOpis}"></a></b></label>
        <br>
        <br>
        <label><b class="a">Tip Treninga: <a th:text="${trening.tipTreninga.ime}"></a></b></label>
        <br>
        <br>
        <label><b class="a">Cena: <a th:text="${trening.cena}"></a> dinara</b></label>
        <br>
        <br>
        <label><b class="a">Vrsta treninga: <a th:text="${trening.vrstaTreninga}"></a></b></label>
        <br>
        <br>
        <label><b class="a">Nivo treninga: <a th:text="${trening.nivoTreninga}"></a></b></label>
        <br>
        <br>
        <label><b class="a">Trajanje treninga: <a th:text="${trening.trajanjeTreninga}"></a> minuta</b></label>
        <br>
        <br>
        <label><b class="a">Prosecna ocena treninga: <a th:text="${trening.prosecnaOcena}"></a></b></label>
        <br>
    </form>
</div>
</body>
</html>